@model UGB.Data.Fornecedor
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Details";

    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }


    <h1>Details</h1>

    <div>
        <h4>Fornecedor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nome
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorNome)
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorEmail)
            </dd>
            <dt class="col-sm-2">
                Inscrição Estadual
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorInsestadual)
            </dd>
            <dt class="col-sm-2">
                Inscrição Municipal
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorInsmunicipal)
            </dd>
            <dt class="col-sm-2">
                CEP
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorCep)
            </dd>
            <dt class="col-sm-2">
                Bairro
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorBairro)
            </dd>
            <dt class="col-sm-2">
                Cidade
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorCidade)
            </dd>
            <dt class="col-sm-2">
                UF
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorUf)
            </dd>
            <dt class="col-sm-2">
                Rua
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorRua)
            </dd>
            <dt class="col-sm-2">
                Numero
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FornecedorNumero)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.FornecedorCnpj">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
}