@model IEnumerable<UGB.Data.Fornecedor>
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Index";


    <h1 class="title">Fornecedores</h1>

    <button class="button button-create">
        <a asp-action="Create" class="text">Criar Fornecedor</a>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    CNPJ
                </th>
                <th>
                    Email
                </th>
                <th>
                    CEP
                </th>
                <th>
                    Bairro
                </th>
                <th>
                    Cidade
                </th>
                <th>
                    UF
                </th>
                <th>
                    Rua
                </th>
                <th>
                    Numer
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorCnpj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorCep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorBairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorCidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorUf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorRua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorNumero)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FornecedorCnpj">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.FornecedorCnpj">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.FornecedorCnpj">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}