@model IEnumerable<UGB.Data.Serviço>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Serviço</h1>

<button class="button button-create">
        <a asp-action="Create" class="text">Criar Serviço</a>
    </button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServPrazo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServPrazo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
