@model IEnumerable<UGB.Data.Serviço>
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Index";

    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }


    <h1 class="title">Serviço</h1>

    <button class="button button-create">
        <a asp-action="Create" class="text">Criar Serviço</a>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Serviço
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Prazo em Dias
                </th>
                <th>
                    CNPJ Fornecedor
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServDescricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServPrazo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorFornecedorCnpj)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ServId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.ServId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}