@model UGB.Data.EntradaEstoque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EntradaEstoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaNf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaNf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaDeposito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaDeposito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaQuantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaQuantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoProdEanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoProdEanNavigation.ProdEan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioUserMatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioUserMatNavigation.UserMat)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
