@model IEnumerable<UGB.Data.EntradaEstoque>
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@using UGB.Services
@{
    ViewData["Title"] = "Index";
    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }

    <h1 class="title">Entradas Estoque</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nota Fiscal
                </th>
                <th>
                    Depósito
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Data
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntradaNf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntradaDeposito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntradaQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntradaData)
                    </td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@item.EntradaId">Detalhes</a> |
                        <a asp-action="Deletar" asp-route-id="@item.EntradaId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}