@model UGB.Data.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdPreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdPreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdFabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdFabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdEstoqueminimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdEstoqueminimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioUserMatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioUserMatNavigation.UserMat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdEan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
