@model IEnumerable<UGB.Data.Produto>
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Index";

    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }

    <h1 class="title">Produtos</h1>

    <button class="button button-create">
        <a asp-action="Create" class="text">Criar Produto</a>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    EAN
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Fabricante
                </th>
                <th>
                    Estoque Minimo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdEan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdPreco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdFabricante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdEstoqueminimo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProdEan">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ProdEan">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProdEan">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}