@model IEnumerable<UGB.Data.PedidoInterno>
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Index";

    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }
    <button class="button button-create">
        <a asp-controller="PedidoInterno" asp-action="Create" class="text">Criar Pedido Interno</a>
    </button>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Quantidade
                </th>
                <th>
                    Data
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Serviço
                </th>
                <th>
                    Observação
                </th>
            </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoQuantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoData)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProdutoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicoObservação)
                    </td>

                    <td>
                        <a asp-controller="PedidoInterno" asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> |
                        <a asp-controller="PedidoInterno" asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a> |
                        <a asp-controller="PedidoInterno" asp-action="Delete" asp-route-id="@item.PedidoId">Deletar</a> |
                        @if (item.ProdutoProdEan != null)
                        {
                            <a asp-controller="OrdemCompra" asp-action="Create" asp-route-id="@item.PedidoId">Criar Ordem de Compra</a>
                        }
                        @if (item.ServicoServId != null)
                        {
                            <a asp-controller="OrdemCompra" asp-action="CreateService" asp-route-id="@item.PedidoId">Criar Ordem de Serviço</a>
                        }
                    </td>
                </tr>
        }
    </tbody>
</table>
}